<div class="background">
  <div class="header">
    <mat-toolbar color="primary">
      <img src="assets/logo.gif" class="logo">
      <h1>MOCO Courses Oubliées</h1>
    </mat-toolbar>
  </div>
  <div class="body">
    <mat-grid-list cols="3" [gutterSize]="'10px'" [rowHeight]="800">
      <mat-grid-tile>
        <div class="container">
          <h2 class="center-text">Tank</h2>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="tank"></div>
              <mat-card-title>Pilier de l'équipe</mat-card-title>
              <mat-card-subtitle>Gros canon !</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              Minimum 80 Résistance ou 5 Mod de Résistance
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="kinetic"></div>
              <mat-card-title>Arme {{weaponType.Kinetic.toString()}}</mat-card-title>
              <mat-card-subtitle>{{weaponType.ShortRange.toString()}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{tankWeapons.kinetic}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="energy"></div>
              <mat-card-title>Arme {{weaponType.Energy.toString()}}</mat-card-title>
              <mat-card-subtitle>{{weaponType.ShortRange.toString()}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{tankWeapons.energy}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="heavy"></div>
              <mat-card-title>Arme {{weaponType.Heavy.toString()}}</mat-card-title>
              <mat-card-subtitle>{{weaponType.ShortRange.toString()}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{tankWeapons.heavy}}</mat-card-content>
          </mat-card>
          <button mat-raised-button (click)="generateTankWeapons()">Tirage au sort</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="container">
          <h2 class="center-text">Heal</h2>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="heal"></div>
              <mat-card-title>Médecin sexy</mat-card-title>
              <mat-card-subtitle>Gros tété !</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              Lumina et des yeux partout pour chercher le dps
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="kinetic"></div>
              <mat-card-title>Arme {{weaponType.Kinetic.toString()}}</mat-card-title>
              <mat-card-subtitle>Lumina Obligatoire</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Lumina</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="energy"></div>
              <mat-card-title>Arme {{weaponType.Energy.toString()}}</mat-card-title>
              <mat-card-subtitle>Pas de limite de portée</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{healWeapons.energy}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="heavy"></div>
              <mat-card-title>Arme {{weaponType.Heavy.toString()}}</mat-card-title>
              <mat-card-subtitle>Pas de limite de portée</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{healWeapons.heavy}}</mat-card-content>
          </mat-card>
          <button mat-raised-button (click)="generateHealWeapons()">Tirage au sort</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="container">
          <h2 class="center-text">DPS</h2>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="dps"></div>
              <mat-card-title>Le petit dernier</mat-card-title>
              <mat-card-subtitle>Ratatatatata !!!!!</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              Minimum 90 Discpline ou 5 Mod de Discipline
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="kinetic"></div>
              <mat-card-title>Arme {{weaponType.Kinetic.toString()}}</mat-card-title>
              <mat-card-subtitle>Pas de limite de portée</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{dpsWeapons.kinetic}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="energy"></div>
              <mat-card-title>Arme {{weaponType.Energy.toString()}}</mat-card-title>
              <mat-card-subtitle>Pas de limite de portée</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{dpsWeapons.energy}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="heavy"></div>
              <mat-card-title>Arme {{weaponType.Heavy.toString()}}</mat-card-title>
              <mat-card-subtitle>Pas de limite de portée</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{dpsWeapons.heavy}}</mat-card-content>
          </mat-card>
          <button mat-raised-button (click)="generateDPSWeapons()">Tirage au sort</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="container">
      <button mat-raised-button color="primary"
              (click)="generateDPSWeapons(); generateHealWeapons(); generateTankWeapons()">
        Tirage au sort everything
      </button>
    </div>
  </div>
</div>

